# Imports

In [1]:
# data manipulation libraries
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 60)

# data visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.core.pylabtools import figsize

%matplotlib inline
# to display visuals in the notebook

%config InlineBackend.figure_format='retina'
#to enable high resolution plots

# feature extraction and preprocessing
import re
import datetime

# feature transformation and preprocessing
from category_encoders.ordinal import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

# Auxiliary Functions

The function below will enable us to observe the missing values as a percentage per feature.

In [2]:
def missing_values_table(df):
    # Total missing values
    mis_val = df.isnull().sum()

    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)

    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent],
                              axis=1)

    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
        columns={0: 'Missing Values', 1: '% of Total Values'})

    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = (mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:, 1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1))

    # Print some summary information
    print("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"
          "There are " + str(mis_val_table_ren_columns.shape[0]) +
          " columns that have missing values.")

    # Return the dataframe with missing information
    return mis_val_table_ren_columns

# Understand & Clean & Format Data

In [3]:
train = pd.read_csv("../data/train/train.csv") 
test = pd.read_csv("../data/test/test.csv")
train.sample(5)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
717,US,"Made from equal thirds Cabernet Sauvignon, Cab...",Terzetto Estate,90,75.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Volker Eisele Family Estate 2013 Terzetto Esta...,Bordeaux-style Red Blend,Volker Eisele Family Estate
5407,France,This wine's fruitiness comes from stalky black...,Château Maison Blanche,83,NaN,Bordeaux,Médoc,NaN,Roger Voss,@vossroger,Maison Bouey 2013 Château Maison Blanche (Médoc),Bordeaux-style Red Blend,Maison Bouey
2399,Germany,Intentionally skewed toward the drier side of ...,Prüm Blue Kabinett,89,19.0,Mosel,NaN,NaN,Joe Czerwinski,@JoeCz,S.A. Prüm 2009 Prüm Blue Kabinett Riesling (Mo...,Riesling,S.A. Prüm
6430,France,"While this wine does have firm tannins, it als...",NaN,86,15.0,Bordeaux,Bordeaux,NaN,Roger Voss,@vossroger,Château Bois Pertuis 2013 Bordeaux,Bordeaux-style Red Blend,Château Bois Pertuis
866,France,"This is a juicy wine, packed with red fruits. ...",Clos du Roi Premier Cru,91,69.0,Burgundy,Beaune,NaN,Roger Voss,@vossroger,Bouchard Aîné et Fils 2014 Clos du Roi Premier...,Pinot Noir,Bouchard Aîné et Fils

In [4]:
print("There are {} rows and {} columns in the train dataset."
      .format(train.shape[0], train.shape[1]))

There are 9000 rows and 13 columns in the train dataset.

In [5]:
print("There are {} rows and {} columns in the test dataset."
      .format(test.shape[0], test.shape[1]))

There are 1000 rows and 13 columns in the test dataset.

# Descriptive statistics & information about datasets

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                8994 non-null   object
 1   description            9000 non-null   object
 2   designation            6455 non-null   object
 3   points                 9000 non-null   int64
 4   price                  8403 non-null   float64
 5   province               8994 non-null   object
 6   region_1               7505 non-null   object
 7   region_2               3469 non-null   object
 8   taster_name            7223 non-null   object
 9   taster_twitter_handle  6888 non-null   object
 10  title                  9000 non-null   object
 11  variety                9000 non-null   object
 12  winery                 9000 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 914.2+ KB

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                1000 non-null   object
 1   description            1000 non-null   object
 2   designation            716 non-null    object
 3   points                 1000 non-null   int64
 4   price                  920 non-null    float64
 5   province               1000 non-null   object
 6   region_1               831 non-null    object
 7   region_2               384 non-null    object
 8   taster_name            792 non-null    object
 9   taster_twitter_handle  756 non-null    object
 10  title                  1000 non-null   object
 11  variety                1000 non-null   object
 12  winery                 1000 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 101.7+ KB

In [8]:
train.describe()

            points        price
count  9000.000000  8403.000000
mean     88.455222    35.532191
std       3.025945    40.750683
min      80.000000     5.000000
25%      86.000000    17.000000
50%      88.000000    25.000000
75%      91.000000    42.000000
max     100.000000  1300.000000

Majority of the features are categorical and we have some missing data in the both datasets. Machine learning models can only work with numerical and non-empty values. Thus we are going to develop strategies in Feature Engineering to impute the missing data and transform categorical values into the numeric values.

In [9]:
test.describe()

            points        price
count  1000.000000   920.000000
mean     88.503000    34.675000
std       3.067475    42.240874
min      80.000000     7.000000
25%      86.000000    17.000000
50%      88.000000    25.000000
75%      91.000000    41.000000
max      97.000000  1000.000000

## Description of features and target

In [10]:
train.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,US,"Expressive aromas of smoke, embers and blue fr...",NaN,88,35.0,Washington,Columbia Valley (WA),Columbia Valley,Sean P. Sullivan,@wawinereport,Damsel 2013 Syrah (Columbia Valley (WA)),Syrah,Damsel
1,South Africa,"Soft mint, spice, cocoa and smoke on the nose ...",Redhill,89,30.0,Stellenbosch,NaN,NaN,Susan Kostrzewa,@suskostrzewa,Simonsig 2005 Redhill Pinotage (Stellenbosch),Pinotage,Simonsig
2,Portugal,"An elegant, finely rounded wine, with firm tan...",NaN,90,NaN,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta de la Rosa 2008 Red (Douro),Portuguese Red,Quinta de la Rosa
3,South Africa,Winemaker: Louis Nel. This Cab-Shiraz blend is...,Cape Winemakers Guild Rapscallion,91,NaN,Stellenbosch,NaN,NaN,Lauren Buzzeo,@laurbuzz,Louis Nel 2015 Cape Winemakers Guild Rapscalli...,Cabernet Sauvignon-Shiraz,Louis Nel
4,Portugal,"Lightly wood aged and spicy, this is a fine re...",Casa Américo Branco Reserva,90,NaN,Dão,NaN,NaN,Roger Voss,@vossroger,Seacampo 2014 Casa Américo Branco Reserva Encr...,Encruzado,Seacampo

In [11]:
train.sample(5)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
7252,US,"Muddled at first, this wine comes around to re...",NaN,90,40.0,California,Sonoma Coast,Sonoma,Virginie Boone,@vboone,Glasshaus 2013 Pinot Noir (Sonoma Coast),Pinot Noir,Glasshaus
268,France,"Pale orange-pink in color, this wine is fresh,...",Mas de Pampelonne,88,NaN,Provence,Côtes de Provence,NaN,Roger Voss,@vossroger,Les Maîtres Vignerons de la Presqu'île de Sain...,Rosé,Les Maîtres Vignerons de la Presqu'île de Sain...
8233,Spain,A little rusty in color and somewhat transpare...,Montgarnatx,88,45.0,Catalonia,Priorat,NaN,Michael Schachner,@wineschach,Francesc Sanchez Bas 2004 Montgarnatx Red (Pri...,Red Blend,Francesc Sanchez Bas
8634,Italy,Made from Sangiovese grown in high-altitude vi...,Lamole Gran Selezione,94,28.0,Tuscany,Chianti Classico,NaN,Kerin O’Keefe,@kerinokeefe,Castelli del Grevepesa 2010 Lamole Gran Selezi...,Sangiovese,Castelli del Grevepesa
4461,Spain,This fruitless Garnacha Blanca smells a bit to...,NaN,81,12.0,Northern Spain,Cariñena,NaN,Michael Schachner,@wineschach,Viñedos y Bodegas Pablo 2015 Garnacha Blanca (...,Garnacha Blanca,Viñedos y Bodegas Pablo

With some intuition, expert knowledge and help of Google here are the explanation of features and target:

- <b>country:</b> Origin of the wine producer
- <b>description:</b> Presentment of the taster to describe the wine
- <b>designation:</b> Name of the wine given to the wine by the producer, sometimes used interchangeably with vineyard. Usually available in the title.
- <b>points:</b> Our target value, representing score of a particular wine received from a taster. An important remark is, a wine may receive different points from the same taster.
- <b>price:</b> Price of the wine
- <b>region_1:</b> Official definition of the place where the grapes for a wine are grown
- <b>region_2:</b> Official definition of the place where the grapes for a wine are grown
- <b>taster_name:</b> The taster, as obvious assigns points to the wine
- <b>title:</b> Name of the wine, as available on the label
- <b>variety:</b> Grape variety of the wine
- <b>winery:</b> name of the wine producer

## Missing values of the datasets

In [12]:
missing_values_table(train)

Your selected dataframe has 13 columns.
There are 8 columns that have missing values.

                       Missing Values  % of Total Values
region_2                         5531               61.5
designation                      2545               28.3
taster_twitter_handle            2112               23.5
taster_name                      1777               19.7
region_1                         1495               16.6
price                             597                6.6
country                             6                0.1
province                            6                0.1

In [13]:
missing_values_table(test)

Your selected dataframe has 13 columns.
There are 6 columns that have missing values.

                       Missing Values  % of Total Values
region_2                          616               61.6
designation                       284               28.4
taster_twitter_handle             244               24.4
taster_name                       208               20.8
region_1                          169               16.9
price                              80                8.0

Features that have missing values more than 50% will be dropped since they aren't likely to provide significant information to the machine learning model.

In this sample dataset, target value has no missing values, if we had some, we would drop all the missing values of the target to not to leak any data or distort the existing distribution of the target.

Considering above comments and looking at the missing values, region_2 will be dropped.

## Cardinality of the non-numeric features

High cardinality features may cause problems when we are training our model. Even though we transform each unique value of a categorical feature to a new feature, they may bring the curse of dimensionality. So, we are going to use the high cardinality features for adding new features, then we are going to remove them from the datasets.

In [14]:
object_columns = (train
                  .select_dtypes(include="object")
                  .columns)

for column in object_columns:
    print("{} has {} unique values."
          .format(column, 
                  train[column]
                  .nunique()))

country has 37 unique values.
description has 8948 unique values.
designation has 4913 unique values.
province has 236 unique values.
region_1 has 699 unique values.
region_2 has 17 unique values.
taster_name has 18 unique values.
taster_twitter_handle has 14 unique values.
title has 8937 unique values.
variety has 325 unique values.
winery has 5097 unique values.

<b>Cardinality</b> is the number of unique values that a feature has.

<b>We have some high-cardinality features:</b>

- description
- designation
- title
- winery

<b>We have some moderate-cardinality features:</b>

- province
- region_1
- variety

<b>We have some low-cardinality features:</b>

- country
- taster_name
- taster_twitter_handle

Description contains information about wine's color, taste and notes (like citrus, tannins). Title feature contains year of the wine produced. Variety has the information about if different type of grapes are blended or not. They can be used to extract more features.

High cardinality features will be dropped from the dataset, if not used for feature extraction.

Most frequent values of moderate and low cardinality features will be explored in the Exploratory Data Analysis.